data_working/TOBGGENOMES/
data_working/dataset_plstd.fasta
dataset/fragmenty_plstd.fasta
dataset/fragmenty_prcr.fasta
.idea/MetaAnalyzer.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.ipynb_checkpoints/

