data_working/TOBGGENOMES/
data_working/dataset_plstd.fasta
dataset/fragmenty_plstd.fasta
dataset/fragmenty_prcr.fasta
classification/__pycache__/
result
result/
.idea/MetaAnalyzer.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.ipynb_checkpoints/


/dataset/dnavec/dnavec.model.bin
/dataset/dnavec/dnaVecCorpus.txt
/dataset/dnavec/id
/dataset/dnavec/sample.txt
/dataset/genomy_plstd.fasta
/dataset/sample_plstd.fasta
/dataset/genomy_prcr.fasta
/dataset/sample_prcr.fasta
